<div class="container">
    <div class="jumbotron">
      <h1>Food Details</h1>
       <div class="container">
           <div class="row">
               <div class="col-sm-4 col-12">
                <div class="card border-primary" style="max-width: 18rem;">
                    <div class="card-header"><b>Customer Information</b> </div>
                    <div class="card-body">
                      <h5 class="text-dark"> Name :</h5> {{ customerName }} <br>
                      <h5 class="text-dark">Phone No:</h5> {{ mobile }} <br>
                      <h5 class="text-dark">Email</h5> {{ email }} <br>
                      <h5 class="text-dark">Address </h5> {{ address }} <br>
                    </div>
               </div>
               </div>

               <div class="col-sm-4 col-12">
                <div class="card border-warning" style="max-width: 18rem;">
                    <div class="card-header"><b>Deccan Fried Rice (Gachibowli)</b> </div>
                    <div class="card-body">
                      <h5 class="text-dark">Phone No:</h5> {{ mobile1 }} <br>
                      <h5 class="text-dark">Alternate Mobile no:</h5> {{ mobile2 }} <br>
                      <h5 class="text-dark">Email</h5> {{ email1 }} <br>
                      <h5 class="text-dark">Address </h5> {{ address1 }} <br>
                    </div>
               </div> 
               </div>

            <div class="col-sm-4 col-12">
                <div class="card border-primary" style="max-width: 18rem;">
                    <div class="card-header"><b>Order Details</b> </div>
                    <div class="card-body">
                      <h5 class="text-dark"> Order Date :</h5> {{ date }} <br>
                      <h5 class="text-dark"> Items :</h5> {{ item1 }} , {{ item2 }} <br>
                      <h5 class="text-dark"> Price :</h5> {{ item1}} : {{ item1price }}, {{ item2}} : {{ item2price }} <br> 
                      <h5 class="text-dark"> Total Bill :</h5> {{ totalbill }} <br> 
                    </div>
               </div>  
            </div>

        </div>
     </div>
    </div>
</div>